<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <include resource="logback.xml"></include>
    <logger name="org.springframework.jdbc.core" additivity="true" level="DEBUG">
        <appender-ref ref="CONSOLE"></appender-ref>
        <appender-ref ref="FILE"></appender-ref>
    </logger>
</configuration>